.catalog-form {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 318px;
  }
}

.catalog-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  &--price {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-form__legend {
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0;
}

.catalog-form__list {
  @include list-reset;
}

.catalog-form__item {
  margin-bottom: 20px;
}

.catalog-form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 277px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 20px;
  }
}

.catalog-form__button {
  width: 100%;
  margin-bottom: 20px;

  &--reset {
    background-color: $base-white;
    color: $base-primary;
    margin-bottom: 0;

    &:hover,
    &:focus {
      background-color: $primary-lighter;
      color: $base-white;
    }

    &:active {
      background-color: $primary-darker;
    }

    &:disabled {
      background-color: $light-grey;
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.catalog__sorting-label {
  font-weight: 600;
}
