.contacts__container {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.contacts__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: $base-primary;
  margin: 0;
  margin-bottom: 20px;
}

.contacts__address {
  padding-left: 17px;
  background-size: 13px 16px;
  background-repeat: no-repeat;
  background-position: 0 2px;
  margin: 0;
  margin-bottom: 17px;
  background-image: url("../../images/icons/stack.svg#address");
}

.contacts__phone {
  display: block;
  text-decoration: none;
  font: inherit;
  color: $base-black;
  padding-left: 17px;
  background-size: 13px 16px;
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-image: url("../../images/icons/stack.svg#phone");
}
