.main-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width - 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 20px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width - 80px;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
  }
}

.main-footer__logo {
  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 10px;
  }
}

.main-footer__logo-image {
  display: block;
}

.main-footer__logo-text {
  display: none;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.main-footer__socials {
  padding: 0 20px 20px;
  border-bottom: 1px solid $base-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
    display: block;
  }
}

.main-footer__menu {
  padding: 20px 20px 18px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.main-footer__contacts {
  padding: 22px 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.main-footer__copyright {
  padding: 20px 20px 20px;

  @media (min-width: $tablet-width) {
    border: none;
    grid-column: -1/1;
    padding: 0;
  }
}
