.new-products__list {
  @include list-reset;
}

.new-products__item {
  padding-top: 20px;
  padding-bottom: 60px;


  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 85px;
  }

  &--decaf {
    background-color: $flat-white;

    @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
      background: linear-gradient(to bottom, $flat-white 640px, $base-white 42px);
    }
  }

  &--latte {
    background-color: $lavender-latte;

    @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
      background: linear-gradient(to bottom, $lavender-latte 640px, $base-white 42px);
    }
  }

  &--espresso {
    background-color: $espresso;

    @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
      background: linear-gradient(to bottom, $espresso 640px, $base-white 42px);
    }
  }
}

.new-products__item--decaf br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.new-products__image {
  object-fit: contain;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.new-products__badge {
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.new-products__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.new-products__info {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.new-products__order {
  width: 230px;
  display: flex;
  margin: auto;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.new-products__old-price {
  margin-right: 5px;
  color: $base-primary;
  text-decoration: line-through;
}

.new-products__new-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 5px;
}

.new-products__button {
  margin-left: auto;
  width: 113px;
}

.new-products__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding: 150px 30px 0;
  }
}
