.range__wrapper-inputs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.range__input {
  box-sizing: border-box;
  width: 118px;
  padding: 6px 11px;
  border-radius: 4px;
  border: 2px solid $primary-lighter;
  text-align: center;
  appearance: textfield;
  font: inherit;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.range__label--min::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background-color: $base-grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
}
