.slider {
  position: relative;
}

.slider__item {
  box-sizing: border-box;
  min-height: 657px;
}

.slider__button {
  position: absolute;
  height: 100%;
  top: 0;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 318px;

    @media (min-width: $tablet-width) {
      top: 310px;
    }

    @media (min-width: $desktop-width) {
      top: 350px;
    }
  }


  &:active {
    background: linear-gradient(90deg, $primary-opacity, transparent);
  }

  &:disabled {
    background-color: transparent;
  }

  &:disabled::after {
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    mask-position-y: 310px;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &--forward {
    right: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, transparent, $base-white);
    }
  }

  &--forward::after {
    mask-image: url("../../images/icons/stack.svg#arrow-forward");
    background-color: $base-primary;
    left: 0;

    @media (min-width: $tablet-width) {
      left: 30px;
    }
  }

  &--back {
    left: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, $base-white, transparent);
    }
  }

  &--back::after {
    mask-image: url("../../images/icons/stack.svg#arrow-back");
    background-color: $base-primary;
    right: 0;

    @media (min-width: $tablet-width) {
      right: 30px;
    }
  }
}

.slider__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1255px;
    padding-left: 105px;
    padding-right: 80px;
  }
}
