.slider-pagination {
  @media (max-width: ($desktop-width - 1px)) {
    display: none;
  }

  @include list-reset;
  width: 202px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%);
}

.slider-pagination__button {
  cursor: pointer;
  width: 62px;
  height: 4px;
  border: none;
  background-color: $base-white;

  &:hover,
  &:focus {
    background-color: $primary-opacity;
  }

  &:active {
    background-color: $base-primary;
  }


  &--current {
    background-color: $base-primary;
  }
}
